*{
    background-color: black;


    
}

#hero > h1{
    padding: 20px;
    text-align: center;
    color: white;
}

#hero > h2{
    text-align: center;
    color: white;
}

#hero > svg{
    width: 100px;
    margin-top: -170px;
    margin-left: 550px;
    padding: 50px;
    color: white;  
}

#villain{
    width: 500px;
    text-align: center;
    margin: auto;
}

#villain > h3{
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}